#background {
    background-size: cover;
    background: url("../images/newspaper.jpg") fixed center;
    font-family: 'IM Fell Double Pica', serif;
}

#heading{
    text-align: center;
    font-size: 650%;
}

@media only screen and (max-width: 500px) {
    #heading {
        font-size: 120%;
    }
}

#date{
    text-align: center;
}

#border{
    border-top: solid black 3px;
    border-bottom: solid black 3px;
}

#cost{
    text-align: right;
}

#date, #cost, #edition{
    font-size: 150%;
}

@media only screen and (max-width: 420px) {
    #date, #cost, #edition {
        font-size: 50%;
    }
}

#me{
    margin-top: 5%;
}

#name{
    text-align: center;
    font-size: 700%;
}

.extraText{
    margin-top: 2%;
    font-size: 100%;
}

#menu{
    background-color: black;
    opacity: 0.5;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    margin-left: 17%;
}

.menuItems a{
    text-decoration: none !important;
    color: white !important;
    font-size: 120%;
    font-weight: bold;
}

span{
    font-family: Georgia;
    font-size: 120%;
    font-weight: bold;
}

#picText{
    margin-top: 5%;
    font-size: 100%;
}

#logo{
    margin-top: 38%;
}

#special{
    margin-left: -95%;
}

#attention{
    margin-top: 5%;
}

#main{
    display: none;
}