#background {
    background-image: url("images/newspaper.jpg");
    background-size: cover;
    font-family: 'IM Fell Double Pica', serif;
}

#heading{
    text-align: center;
    font-size: 650%;
}

@media only screen and (max-width: 500px) {
    #heading {
        font-size: 120%;
    }
}

#date{
    text-align: center;
}

#border{
    border-top: solid black 3px;
    border-bottom: solid black 3px;
}

#cost{
    text-align: right;
}

#date, #cost, #edition{
    font-size: 150%;
}

@media only screen and (max-width: 420px) {
    #date, #cost, #edition {
        font-size: 50%;
    }
}

#me{
    margin-top: 5%;
    margin-left: 20%;
}

#name{
    text-align: center;
    font-size: 800%;
}

.extraText{
    margin-top: 3%;

}
